

.products {

  display: flex;

  flex-wrap: wrap;

}

.product-card {

  padding: 2%;

  flex-grow: 1;

  flex-basis: 16%;

}

body {

  background-color: #f6f6f6;

}



.cont {

  display: flex;

  justify-content: center;

}

.back {

  background-color: #f4eddd; 

  padding: 20px;

  margin-left: 20px;

  margin-right: 20px;

    font-family: 'Kalnia', serif;



}

.change {

  background-color: black;

  color: white;

  padding: 10px;

  border: none;

  font-family: 'Kalnia', serif;

}

h3, h4 {

  font-family:'Kalnia', serif;

}

button {

  margin: 10px;

}

nav{
    background:grey;
    display:flex;
    justify-content: center;
    padding:15px;
    color:fff;
}

.link{
  padding:10px 40px;
  text-decoration:none;
  color:black;
  text-transform:uppercase;
  
}